/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <1000>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <200>;
            flavor = "balanced";
        };

        morphing_shift: morphing_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPHING_SHIFT";
            bindings = <&kp LEFT_SHIFT>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_LALT|MOD_LGUI|MOD_RCTL|MOD_RALT|MOD_RGUI|MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LCTL|MOD_LSFT|MOD_LALT|MOD_RCTL|MOD_LGUI|MOD_RSFT|MOD_RALT|MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W            &kp F            &kp P              &kp B              &kp J      &kp L         &kp U             &kp Y             &kp SEMI  &none
&none  &kp A  &hrm LEFT_ALT R  &hrm LEFT_GUI S  &hrm LEFT_SHIFT T  &kp G              &kp M      &hrm RCTRL N  &hrm RIGHT_GUI E  &hrm RIGHT_ALT I  &kp O     &none
&none  &kp Z  &kp X            &kp C            &kp D              &kp V              &kp K      &kp H         &kp COMMA         &kp DOT           &kp FSLH  &none
                               &kp TAB          &lt 1 BACKSPACE    &morphing_shift    &kp SPACE  &kp DELETE    &kp ENTER
            >;
        };

        Navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp DOWN  &kp UP     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp RIGHT  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;
        };
    };
};
